# Code Owners

# Default owners
* @xtrempkch-droid

/common/ @xtrempkch-droid
/devices/ @xtrempkch-droid
/variants/ @xtrempkch-droid
/build/ @xtrempkch-droid
/tools/ @xtrempkch-droid
/docs/ @xtrempkch-droid
/.github/ @xtrempkch-droid
