/output/
/uboot/
/kernel/
/rkbin/
/rocknix-src/
/rootfs/
/rocknix-patches/
/rocknix-dts/
/rocknix-*.config
/rocknix-*.dtb
/rocknix-*.dts
/rocknix-*.mk
/rocknix-*.img
/rocknix-*.img.gz
/rocknix-panel-generic-dsi.c
/rocknix-official-x35s.dts.new
/rk3566-*-sdcard.img
/rk3566-*-sdcard.img.gz
